*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
}
.section1{
    text-align: center;
}
.section1 h1{
    margin: 5%;
}
.section1 h2{
    margin: 5%;
}
.section1 button{
    background-color: pink;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: larger;
    font-family: fantasy;
    margin: 10%;
}