*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
}
.image1{
    height: 90vh;
}
.image2{
    height: 40vh;
    margin-top: 100px;
}
.section1{
    /* text-align: center; */
    display: flex;
    margin: 50px;
}
.h1h2{
    text-align: center;
    /* margin-top: 150px; */
}
.h1h2 h1{
    margin: 80px;
}
.h1h2 h2{
    margin-top: 0px;
}
/* .section1 h1{
    margin: 5%;
}
.section1 h2{
    margin: 5%;
} */
.h1h2 button{
    background-color: pink;
     padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: larger; 
    font-family: fantasy;
    margin: 10%;
    /* margin-left: 50%; */
}